## Vacationpy Homework

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
vacation_data = pd.read_csv("data\weather_data.csv", index_col=0)
vacation_data.head(10)

,City,Country,Latitude,Longitude,Max Temperature (F),Humidity,Cloudiness,Windspeed (mph),Date
0,Chui,UY,-33.6971,-53.4616,58.21,87,0,9.33,1667785416
1,Ancud,CL,-41.8697,-73.8203,48.90,87,9,3.51,1667785416
2,Sinnamary,GF,5.3833,-52.9500,77.79,87,100,7.18,1667785416
3,Puerto Quijarro,BO,-17.7833,-57.7667,74.14,32,0,3.67,1667785417
4,Oga,IT,46.4631,10.3470,35.02,56,40,2.46,1667785417
5,Kruisfontein,ZA,-34.0033,24.7314,63.88,84,99,3.22,1667785418
6,Saskylakh,RU,71.9167,114.0833,-23.76,100,50,2.71,1667785418
7,Huilong,CN,31.8111,121.6550,65.93,61,0,11.48,1667785418
8,Buala,SB,-8.1450,159.5921,81.75,80,87,10.80,1667785419
9,Norman Wells,CA,65.2820,-126.8329,3.24,85,20,4.61,1667785419

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of humidity
locations = vacation_data[["Latitude", "Longitude"]]
humidity = vacation_data["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.